/* .container {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  height: 100vh;
} */
.main {
  width: 100vw;
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/e5/79/96/e5799698e1255e1dfefd6c87b4fa8244.jpg);
  background-size: cover;
  overflow-x: scroll;
}
.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}
.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
